@import "/src/styles/variables/import";
@import "/src/styles/mixins/import";


.homepage--forecast-list__container {
    h2 {
        font-family: getTypography("emphasis");
        text-align: center;
        margin-block-end: 1rem;
    }

    .list {
        display: flex;
        gap: .5rem;

        @include viewport-wide-up-to(getViewport("medium")) {
            flex-direction: column;
        }
    }
}