@import "/src/styles/variables/import";


.common--location-search__container {
    position: relative;
    width: 40%;

    input {
        border-radius: 10px;
        border: 1px solid getColor("border-primary");
        line-height: 2.5rem;
        padding-inline: 2rem;
        width: 100%;

        &.pristine {
            &~.clear {
                display: block;
            }
        }
    }

    .input-indicator {
        position: absolute;
        top: 10px;
        left: .5rem;
    }

    .clear {
        display: none;

        position: absolute;
        top: 50%;
        right: 3px;

        cursor: pointer;
        padding: .5rem;
        transform: translateY(-50%);
    }
}