@import "/src/styles/variables/import";
@import "/src/styles/mixins/import";


.layout--app-header__container {
    @include app-grid-columns;
    background-color: getColor("background-primary");

    @include viewport-wide-up-to(getViewport("medium")) {
        position: fixed;
        top: 0;
        z-index: 50;

        width: 100%;
    }

    @include viewport-wide-start-from(getViewport("medium"), false) {
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    .content {
        grid-column: 2/3;

        display: flex;
        justify-content: space-between;
        align-items: center;

        color: white;
        padding-block: .5rem;
        height: 4rem;

        @include viewport-wide-up-to(getViewport("medium")) {
            position: relative;
        }

        @include viewport-wide-start-from(getViewport("medium"), false) {
            padding-block: .75rem;
            height: 5rem;
        }

        .brand {
            display: flex;
            align-items: center;
            gap: .5rem;

            height: 100%;

            img {
                display: block;
                height: 100%;
            }

            .name {
                font-size: 1.2rem;
                font-family: getTypography("brand");
                font-weight: bolder;

                @include viewport-wide-start-from(getViewport("medium"), false) {
                    font-size: 1.5rem;
                }
            }
        }

        .hamburger-toggler {
            position: absolute;
            top: 1.5rem;
            right: 0;

            cursor: pointer;
        }

        .navigation-and-temp-toggler {
            @include viewport-wide-up-to(getViewport("medium")) {
                position: absolute;
                top: 4.5rem;
                left: -300%;

                border-radius: 5px;
                background-color: lighten(getColor("background-primary"), 10%);
                width: 100%;
                box-shadow: 0 0 2rem 0 black;
                transition: ease-in-out left .3s;

                &.open-menu {
                    left: 0;
                }
            }

            @include viewport-wide-start-from(getViewport("medium"), false) {
                display: flex;
                gap: 1rem;
                align-items: center;
            }


            nav {
                display: flex;

                @include viewport-wide-up-to(getViewport("medium")) {
                    flex-direction: column;
                    align-items: center;
                }

                @include viewport-wide-start-from(getViewport("medium"), false) {
                    gap: 1rem;
                }

                a {
                    color: white;
                    font-size: 1.2rem;
                    font-family: getTypography("emphasis");
                    text-decoration: none;

                    @include viewport-wide-up-to(getViewport("medium")) {
                        border-block-end: 1px solid white;
                        padding: 2rem 1rem;
                        width: 100%;
                        text-align: center;
                        transition: ease-in-out .3s;

                        &:hover {
                            background-color: getColor("background-primary");
                        }
                    }

                    @include viewport-wide-start-from(getViewport("medium"), false) {
                        font-size: 1.3rem;
                        font-weight: 600;
                        letter-spacing: .5px;
                    }
                }
            }

            .layout--icons-toggler__container {
                @include viewport-wide-up-to(getViewport("medium")) {
                    margin: 2rem auto;
                    width: 5rem;
                }
            }
        }
    }
}