@import "/src/styles/variables/import";


.homepage--forecast-list__container {
    h2 {
        font-family: getTypography("emphasis");
        text-align: center;
        margin-block-end: 1.5rem;
    }

    .list {
        display: flex;
        gap: .5rem;

        &:nth-child(odd) {
            background-color: peru;
        }
    }
}


.homepage--forecast-preview__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    flex-grow: 1;

    padding: .5rem;

    img {
        display: block;

        width: 5rem;
        object-fit: contain;
    }

    .day-textual {
        color: getColor("title-primary");
        font-size: 1.2rem;
        font-weight: 600;
    }

    .night-textual {
        color: getColor("text-secondary");
        font-size: .9rem;
    }

    .day-textual,
    .night-textual {
        position: relative;

        width: 100%;
        text-align: center;

        .common--icon__container {
            position: absolute;
            top: 25%;
            left: -.5rem;
        }
    }

    .minmax-temperature {
        position: relative;

        .seperator {
            margin-inline: .3rem;
        }

        .common--icon__container {
            position: relative;
            top: 25%;
        }
    }
}