@import "../variables/typography";


@font-face {
    font-family: merriweather;
    src: url("/src/assets/fonts/merriweather.ttf");
}

@font-face {
    font-family: rem;
    src: url("/src/assets/fonts/rem.ttf");
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: getTypography("regular");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}