@import "../variables/typography";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: getTypography("regular");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}