@import "/src/styles/variables/import";

.homepage--location-preview__container {
    width: 80%;

    .info {
        display: flex;
        justify-content: space-between;

        margin-block-end: 3rem;
        width: 100%;

        .common--location-curr-weather-preview__container {
            max-width: 25rem;
        }

        .options {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;

            .layout--icons-toggler__container {
                border-color: getColor("border-primary");
            }
        }
    }
}