
.homepage--location-preview__container {
    width: 80%;

    .info {
        display: flex;
        justify-content: space-between;

        margin-block-end: 3rem;
        width: 100%;

        .options {
            display: flex;
            flex-direction: column;
        }
    }
}