@import "/src/styles/variables/import";


.homepage--location-search__container {
    width: 40%;

    .homepage--location-search__placeholder {
        display: flex;
        align-items: center;

        .common--icon__container {
            position: relative;
            top: 5px;
        }

        .text {
            margin-inline-start: -.5rem;
        }
    }
}


.homepage--location-preview__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    transition: .3s;

    .country {
        display: flex;
        align-items: center;

        img {
            display: block;

            margin-inline-end: .5rem;
            height: .8em;
        }

        span {
            color: getColor("text-secondary");
            font-size: 0.8em;
        }
    }
}