@import "/src/styles/variables/import";


.homepage--location-search__container {
    margin-block-end: 2rem;
    width: 40%;

    .unValidInput {
        border-radius: 6px;
        border: 1px solid getColor("error-primary");
        box-shadow: 0 2px 10px rgba(getColor("error-primary"), 0.3);

        &::after {
            content: "English chars only";
            position: absolute;
            top: 50%;
            right: 5rem;

            color: getColor("error-primary");
            font-size: 0.8em;
            transform: translateY(-50%);
        }
    }

    .homepage--location-search__placeholder {
        display: flex;
        align-items: center;

        .common--icon__container {
            position: relative;
            top: 5px;
        }

        .text {
            margin-inline-start: 0;
        }
    }
}


.homepage--location-search-preview__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .3s;

    .country {
        display: flex;
        align-items: center;

        img {
            display: block;

            margin-inline-end: .5rem;
            height: .8em;
        }

        span {
            color: getColor("text-secondary");
            font-size: 0.8em;
        }
    }
}