@import "/src/styles/variables/import";


.common--location-curr-weather-preview__container {
    display: flex;
    gap: 1rem;

    border: 1px solid getColor("border-primary");
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;

    img {
        display: block;

        max-width: 5rem;
        object-fit: cover;
    }

    .location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;

        .name {
            word-break: break-all;

            .city {
                font-size: 1.3rem;
                font-family: getTypography("emphasis");
            }

            .country {
                color: getColor("text-secondary");
                margin-inline-start: 1ch;

                img {
                    display: inline-block;
                    margin-inline-start: 5px;
                }
            }
        }

        .describe {
            font-size: .9rem;
        }
    }
}